/*
 * General styles
 */

body,
html {
  background-image: "#fff";
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $fontmain;
  font-size: $base-size - 2px;
  height: auto;
}
