.doctor-schedule-container {
  padding: 15px 0;
  .all-schedules {
    font-size: 14px;
    .all-schedules-select {
      width: 134px;
      background: transparent;
      border: none;
      color: #337ab7;
      border-bottom: 1px solid #999;
      border-radius: 0;
      font-weight: bold;
      padding: 3px;
    }
  }
  .calendar-header {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding-top: 16px;
    margin: 0 0 5px 0;
    .calendar-icon {
      font-size: 1rem;
    }
    .calendar-title {
      margin: 0 6px;
    }
  }
  .all-time {
    .btn-schedule {
      min-width: 20%;
      flex-wrap: wrap;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 8px;
      background: #fff04b;
      font-weight: 600;
      &:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: #33b0e3;
        color: #fff;
      }
    }
  }
}
