.doctor-profile-container {
  .doctor-intro {
    display: flex;
    font-size: 14px;
    .content-left {
      .doctor-img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
    .content-right {
      width: 100%;
      padding-left: 15px;
      .doctor-name {
        font-size: 1.2rem;
        font-weight: bold;
        color: #45c3d2;
      }
    }
    .doctor-description {
      color: #555;
    }
    .doctor-profile-price-container {
      float: right;
      color: #555;
      font-size: 1rem;
    }
  }
}
